In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
#reading csv of crime data from the Marshall Project (nonprofit news org covering the U.S. criminal justice system)
crime = pd.read_csv('data/ucr_crime_1975_2015.csv', skiprows=list(range(1,139))) #skip 138 rows so data starts from '77 not '75

#reading csv of city spending from the Lincoln Institute (nonprofit research for solutions to economic/social issues)
spending_all = pd.read_csv('data/Fisc_Year_Per_Capita_Real_city_07-19-2020.csv', index_col='Year') #1977 - 2015

#only taking columns that are relavant to my project and/or have sufficent usable data points (few zero, Nan values)
spending = spending_all[['City',
                        'Libraries Expenditure', 
                        'Public Welfare Expenditure',
                         'Police Protection Expenditure',
                         'Corrections Expenditure']]

,City,Libraries Expenditure,Public Welfare Expenditure,Police Protection Expenditure,Corrections Expenditure
Year,,,,,
1977.0,AZ: Mesa (City),17.0,0,142,3
1978.0,AZ: Mesa (City),21.0,0,150,2
1979.0,AZ: Mesa (City),25.0,0,161,2
1980.0,AZ: Mesa (City),103.0,0,196,2
1981.0,AZ: Mesa (City),41.0,0,218,2
...,...,...,...,...,...
2015.0,WI: Milwaukee (City),54.0,0,488,8
NaN,,NaN,NaN,NaN,NaN
NaN,Suggested citation:,NaN,NaN,NaN,NaN
NaN,Lincoln Institute of Land Policy. Fiscally Sta...,NaN,NaN,NaN,NaN
NaN,"Accessed on: July 19, 2020",NaN,NaN,NaN,NaN